<!-- users/templates/users/profile.html -->
{% extends "users/layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="{%static 'js/profile.js'%}"></script>
<h2>Cart</h2>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<p style="font-weight: 500; font-size: 2vw; margin-left: 3vw; margin-top: 2vw">My Saved Products</p>
<div class="products">
    {% if saved_products %}
        {% for saved_product in saved_products %}
        <div class="product">
             <div class="card-img"><img src="{{ saved_product.product.media_files_set.first.path.url }}" alt=""></div>
             <hr class="dropdown-divider">
            <h3>{{ saved_product.product.name }}</h3>
            <p>Price: {{ saved_product.product.price }} DA</p>  
            <p>City: {{ saved_product.product.city }}</p>
            <form method="post" action="{% url 'remove_saved_product' saved_product.product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>No saved products found.</p>
    {% endif %}
</div>
<br>
<!-- My Orders Section -->
<p style="font-weight: 500; font-size: 2vw; margin-left: 3vw; margin-top: 2vw">My Orders</p>
<div class="products">
  {% if orders %}
  {% for order in orders %}
  <div class="order">
      <div class="order-details">
          <h3><a href="{% url 'product_detail' order.product.id %}">{{ order.product.name }}</a></h3>
          <p>Status: {{ order.get_status_display }}</p>
      </div>
      {% if order.status == 'PROCESS' %}
          <form method="post" action="{% url 'cancel_order' order.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Cancel</button>
          </form>
      {% endif %}
  </div>
  {% endfor %}
{% else %}
  <p>No orders found.</p>
{% endif %}
</div>
{% endblock %}
