<!-- users/templates/users/product_detail.html -->
{% extends "users/layout.html" %}
{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{{ product.piece }}</h2>
            <p><strong>Model:</strong> {{ product.car_model }}</p>
            <p><strong>Serie:</strong> {{ product.car_serie }}</p>
            <p><strong>Price:</strong> {{ product.price }} DA</p>
            <p><strong>Phone:</strong> {{ product.phone_number }}</p>
            <p><strong>State:</strong> {{ product.get_state_display }}</p>
            <p><strong>City:</strong> {{ product.city }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Quantity Available:</strong> {{ product.quantity }}</p>
            <p><strong>Sales:</strong> {{ product.sales }}</p>
            <p><strong>Posted by:</strong> {{ product.user.username }}</p>
            <p><strong>Posted on:</strong> {{ product.created_at }}</p>
            <p><strong>Average Rating:</strong> {{ product.average_rating }}</p>
            <a href="{% url 'buy_product' product.id %}" class="btn btn-success">Buy</a>
            <form method="post" action="{% url 'product_detail' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit Comment</button>
                <textarea name="comment" placeholder="Leave a comment" required></textarea>
                
            </form>
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-header">
                    <span class="username">{{ comment.user.username }}</span>
                    <span class="timestamp">{{ comment.timestamp }}</span>
                </div>
                <div class="comment-content">{{ comment.content }}</div>
            </div>
            {% endfor %}
            
            <!-- Comment form -->
            
            <form method="post" action="{% url 'product_detail' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="rating">Submit Rating</button>
                <input type="number" name="rating" placeholder="Rate this product (1-5)" min="1" max="5" required>
                
            </form>

            <form method="post" action="{% url 'save_product' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Save Product</button>
            </form>
            <a href="{% url 'index' %}" class="btn btn-secondary">Back to All Offers</a>
        </div>
    </div>
</div>
{% endblock %}
